# Local environment
.venv
.DS_Store
.vscode/settings.json

# Compiled Python files
*.pyc
__pycache__/

# Logs
*logs/

# Shared folders
shared/docs/prompts
shared/tmp
shared/data/images
shared/data/evaluations

# Private keys
.env