# Core dependencies
python-dotenv
psycopg2-binary
loguru


# Scraper dependencies
selenium
webdriver-manager
requests
bs4

# Processor dependencies
langchain
langchain-groq
langchain-openai
langchain-anthropic
langchain_community
tiktoken
fuzzywuzzy
python-Levenshtein